.fondo{
    height: 65vh;
    object-fit: cover;
    filter: brightness(50%);
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.fondoNegro{
    opacity: 90%;
}

.text-decoracion{
    text-decoration:underline dotted;
}



#codoCodo{
    height: 5rem;
}
.fondoFotter{
   
    background-color: rgb(4, 71, 71);
}